.root{
      display:flex;
      background-color: #ffffff ;
      width:100%;
}
.footer_content{
      position:fixed;
      background-color: #ffffff ;
      bottom: 0;
      width: 60%;
      height: 95px;
}
.linea_horizontal{
      position: absolute;
      bottom:5rem;
      border:#7363f7;
      z-index:1 ;
      background-color:#7363f7;
      height: 2px;
      width: 100%;
}
.img{
      margin-left:25px;
}
.title{
      position:absolute;
      font-style:italic;
      text-align:center;
      font-size:30px;
      top:25px;
      left: 150px;
      color:#000000;
      text-justify:center;
}
